--- 
--- 

@import "{{ site.theme }}"; 

.highlight {
  background-color: white !important;
}

.nav {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  a { 
    color: white;
  }
  a:hover {
    color: #f8f8f8;
  }
}

.header-image {
  float: right;
  width: 250px;
}

.body-image {
  float: right;
  width: 250px;
}

pre {
  clear: both;
}